body {
    background: white;
}

#grid{
	display: grid;
	height:100%;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 1fr;
}
#sideGrid {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr;
	padding-top: 8px;
	padding-right: 8px;
}

.nav {
	border-bottom: 3px solid #e43b3c;
}
.sideNav {
	border-bottom: 3px solid #ffffff;
}
.prev{
	border:none;
	background-color:transparent;
	float:left;

}
.home{
	border:none;
	background-color:transparent;
	float:right;
}
/* 모바일 기기*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.wrapper {
		width:300px;
		height:300px;
		text-align: center;
		margin:50px auto auto auto;
	}
	.foot{
		text-align: center;
		margin-top: 30vw;
	}
	.cart-button{
		border:white;
		background-color:transparent;
		position:relative;
		top:16px;

	}
	.diasble {
		border: white;
		background-color: transparent;
		float: left;
	}
	.basket {
		border: white;
		background-color: transparent;
		float: right;
	}

	#img, #item-image {
		width: 100%;
		height: 100%;
		margin-top: 2vw;
	}

	#change{
		margin:40px;
		margin-right:0;
	}
}

/* pc*/
@media only screen and (min-device-width : 1024px)  {
	.wrapper {
		width:300px;
		height:300px;
		text-align: center;
		margin:50px auto auto auto;
	}
	.foot{
		text-align: center;
		margin-top: 10vw;
	}
	.cart{
		border:white;
		background-color:transparent;
		position:relative;
		top:16px;

	}
	.diasble {
		border: white;
		background-color: transparent;
		float: left;
	}
	.basket {
		border: white;
		background-color: transparent;
		float: right;
	}

	#img {
		width: 100%;
		height: 100%;
		margin-top: 2vw;
	}

	#change{
		margin:40px;
		margin-right:0;
	}
}
